<?xml version="1.0" encoding="GBK"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	<!-- 配置名为person的Bean，其实现类是com.amarsoft.slyuan.spring.Chinese类 -->
	<bean id="chinese" class="com.amarsoft.slyuan.spring.Chinese">
		<!-- 控制调用setAxe()方法，将容器中axe Bean作为传入参数 -->
		<property name="axe" ref="stoneaxe"/>
	</bean>
	<!-- 配置名为axe的Bean，其实现类是com.amarsoft.slyuan.spring.StoneAxe类 -->
	<bean id="stoneaxe" class="com.amarsoft.slyuan.spring.StoneAxe"/>
	<!-- 配置名为win的Bean，其实现类是javax.swing.JFrame类 -->
	<bean id="win" class="javax.swing.JFrame"/>
	<!-- 配置名为date的Bean，其实现类是java.util.Date类 -->
	<bean id="date" class="java.util.Date"/>
	<!-- 配置监听器 -->
	<bean class="com.amarsoft.slyuan.spring.listerner.EmailNofier"/>
	<!-- 静态工厂配置 -->
	<bean id="dog" class="com.amarsoft.slyuan.spring.beanproduct.BeingFactory" factory-method="getBeing">
	<constructor-arg value="dog"/>
	<property name="msg" value="我是狗"/>
	</bean>
	<bean id="cat" class="com.amarsoft.slyuan.spring.beanproduct.BeingFactory" factory-method="getBeing">
	<constructor-arg value="cat"/>
	<property name="msg" value="我是猫"/>
	</bean>
	<!-- 实例工厂配置 -->
	<bean id="personFactory" class="com.amarsoft.slyuan.spring.beanproduct.PersonFactory"/>
	<bean id="chin" factory-bean="personFactory" factory-method="getPerson">
	<constructor-arg value="chin"/>
	</bean>
<!-- 	<bean id="ame" class="personFactory" factory-method="getPerson">
	</bean> -->
	<bean id="chinesebean" class="com.amarsoft.slyuan.spring.afterbeanprocess.Chinese" p:axe-ref="stoneaxe" p:name="注入的指">
	</bean>
	<!-- bean后处理配置 -->
	<bean class="com.amarsoft.slyuan.spring.afterbeanprocess.MyBeanPostProcessor">
	</bean>
</beans>
